@font-face {
    font-family: 'Satoshi';
    src: url('../assets/Fonts/OTF/Satoshi-Light.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Satoshi';
    src: url('../assets/Fonts/OTF/Satoshi-Bold.otf');
    font-weight: bold;
    font-style: bold;
}

.navbar {
    height: 5rem;
    width:100vm;
    max-width:75rem;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3;
    font-family: satoshi;
    font-weight: bold;
}



.nav-links {
    display: flex;
    gap: 1rem;
    background: rgba(255, 255, 255, 0.1); /* semi-transparent white background */
    padding: 1rem;
    margin-left: 100px;
    border-radius: 30px; /* rounded corners */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* shadow effect */
    backdrop-filter: blur(20px);

  
}

.linkMenuItem {
    cursor: pointer;
    color: #000000; /* white text */
    text-decoration: none; /* remove underline */
    transition: color 0.3s ease; /* transition effect */
}

.linkMenuItem:hover {
    color: #f00; /* red text on hover */
}

.logo {
    object-fit:  cover;
    height: 80px;
    width: auto;
    color: #000;
    
}

.Contact-btn{
    background: rgba(0, 0, 0, 1);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* shadow effect */
    font-family: satoshi;
    font-weight: bold;
    color: white;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .2rem 1rem;
    border-radius: 2rem;
    margin-right: 0px;

}

.Contact-img{
    object-fit:  cover;
    height: 1rem;
    width: auto;
    margin: 1rem;
}

@media (max-width: 768px) {
    .navbar {
        padding: 1rem;
    }

    .nav-links {
        flex-direction: row;
        gap: 0.5rem;
        padding: 0.5rem;
    }
}

/* For mobile phones */
@media (max-width: 480px) {
    .navbar {
        padding: .01 .02rem;
        font-size: 0.8rem;
    }

    .nav-links {
        flex-direction: row;
        gap: 0.5rem;
    }

    .Contact-btn {
        font-size: 0.3rem; /* Adjusted to match .navbar */
        padding: .01 .02rem; /* Adjusted to match .navbar */
    }

    .Contact-img {
        height: 0.8rem; /* Adjusted to match .navbar */
        width: auto;
    }
}
