@font-face {
    font-family: 'Satoshi';
    src: url('../assets/Fonts/OTF/Satoshi-Light.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Satoshi';
    src: url('../assets/Fonts/OTF/Satoshi-Bold.otf');
    font-weight: bold;
    font-style: bold;
}

.navbar {
    height: 5rem;
    width:100vh;
    max-width:75rem;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3;
    font-family: satoshi;
    font-weight: bold;
}
.logo{

    position: absolute;
    cursor: pointer;
}



.nav-links {
    display: flex;
    gap: 1rem;
    background: rgba(255, 255, 255, 0.1); /* semi-transparent white background */
    padding: 1rem;
    margin-left: 50px;
    border-radius: 30px; /* rounded corners */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* shadow effect */
    backdrop-filter: blur(20px);
  
}

.nav-links.open {
    transform: translateX(0);
}

.linkMenuItem {
    cursor: pointer;
    color: #000000; /* white text */
    text-decoration: none; /* remove underline */
    transition: color 0.3s ease; /* transition effect */
}

.linkMenuItem:hover {
    color: #f00; /* red text on hover */
}



.Contact-btn{
    background: rgba(0, 0, 0, 1);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* shadow effect */
    font-family: satoshi;
    font-weight: bold;
    color: white;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .2rem 1rem;
    border-radius: 2rem;
    margin-right: 0px;

}

.SandIcon{
    color: #000000;
    font-size: 2rem;
    cursor: pointer;
    display: none;

}

.close-icon{
   display: none;
}

.Contact-img{
    object-fit:  cover;
    height: 1rem;
    width: auto;
    margin: 1rem;
}



/* For mobile phones */
@media (max-width: 480px) {
    .navbar {
        padding: .01 .02rem;
        font-size: 0.8rem;
    }

    .logo{
        position: absolute;
        top: 20px;
        left: 20px;
    }

    .nav-links {
        
        flex-direction: row;
        gap: 0.5rem;
    }

    .Contact-btn {
        font-size: 0.3rem; /* Adjusted to match .navbar */
        padding: .01 .02rem; /* Adjusted to match .navbar */
    }

    .Contact-img {
        height: 0.8rem; /* Adjusted to match .navbar */
        width: auto;
    }
}

.contact-LinkMenu{
    display: none;
}

@media (max-width: 1020px) {
    .navbar {
        position: sticky;
        top: 0;
        width: 100%;
        z-index: 3; /* This ensures the navbar is always on top of other elements */
    }
    .SandIcon {
      position: absolute;
      top: 20px;
      right: 20px;
      display: block;
      width: 30px;
      height: 30px;
    }

    .linkMenuItem {
        font-size: 2rem; /* Adjusted to match .navbar */
    }

    .Contact-btn{
        display: none;
    }
  
    .nav-links {
      position: absolute;
      right: 0;
      height: 100vh;
      width: 100%;
      top: 0;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: #FFFFE3;
      border-radius: 0px;
      transition: transform 0.3s ease-in-out;
      transform: translateY(-100%);
      
    }

    .nav-links.open {
        transform: translateY(0);
    }
    

    .close-icon{
        position: absolute;
        top: 20px;
        right: 20px;
        display: block;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }

    .contact-LinkMenu{
        border-radius: 20px;
        padding: 10px 20px;
        background-color: #000000;
        color: #FFFFE3;
        font-size: 2rem;
        cursor: pointer;
        display: block;
    }
}