

@font-face {
    font-family: 'Satoshi';
    src: url('../assets/Fonts/OTF/Satoshi-Bold.otf');
    font-weight: bold;
    font-style: bold;
}

@font-face {
    font-family: 'Satoshi';
    src: url('../assets/Fonts/OTF/Satoshi-Light.otf');
    font-weight: normal;
    font-style: normal;
}

.logo {
    object-fit:  cover;
    width: 80px;
    height: 80px;
    width: auto;
    color: #000;
}

#Home  {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 850px;
    width: 1200px;
    max-width: 70%;
    margin: 0 auto;
    position: relative;
    margin-bottom: 20px;

}



@keyframes orbitPlanet1 {
    0% {
      transform: rotate(0deg) translateX(100px) rotate(0deg); 
    }
    100% {
      transform: rotate(360deg) translateX(100px) rotate(-360deg); 
    }
}
  
    @keyframes orbitPlanet2 {
    0% {
      transform: rotate(0deg) translateX(200px) rotate(0deg); 
    }
    100% {
      transform: rotate(360deg) translateX(200px) rotate(-360deg); 
    }
} 


.planet1 {
    position: absolute;
    top: 10%; /* Adjust as needed */
    left: 10%; /* Adjust as needed */
    z-index: -1;
    border-radius: 435.673px;
    background: linear-gradient(180deg, #F90716 0%, rgba(245, 138, 37, 0.00) 100%, #FF5403 100%);
    filter: blur(20px);
    width: 600px; /* Adjust size as needed */
    height: 600px; /* Adjust size as needed */
    padding: 20px 30px;
    animation: orbitPlanet1 20s linear infinite;
  
}

.planet2 {
    position: absolute;
    top: 2%; /* Adjust as needed */
    left: 20%; /* Adjust as needed */
    z-index: -2;
    border-radius: 595.42px;
    background: linear-gradient(180deg, #FFCA03 0%, rgba(255, 243, 35, 0.46) 100%);
    filter: blur(40px);
    width:700px; /* Adjust size as needed */
    height: 700px; /* Adju */
    animation: orbitPlanet2 20s linear infinite;
   
}

.intro-title {
    font-size: 6vw;
    font-weight: bold;
    color: #000000; 
    z-index: 1;
}

.intro-content {
    font-family: satoshi;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.intro-subtext{
    font-size: 1.1rem;
    font-weight: normal;
    color: #000000; 
    margin-top: 10px;
    margin-bottom: 10px;
}

.intro-small{

    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.intro-time {
    font-size: .8rem;
    font-weight: light;
    color: #000000; 
    margin-right: 50px; 
   
    
}

.intro-status{
    font-size: .8rem;
    font-weight: light;
    color: #000000; 
    
}

.intro-scroll{
    margin-top: 50px;
    display: flex;
    align-items: center; 
    height: 20px;
    width: 20px;
}



@media (max-width: 1000px){
  
      .logo {
  
          height: 50px; /* Adjust as needed */
          width: 50px; /* Adjust as needed */
        
      }
  
      #Home {
        height: auto;
        width: 100vw;
        max-width: 100%;
        margin: 0 auto;
        position: relative;
      }
  
      .intro-title {
        margin-top: 100px;
        font-size: 4rem;
        text-align: center;
        margin-bottom: 20px;
      }
  
      .intro-subtext{
        font-size: .9rem;
        text-align: center;
        margin-top: 0px;
        padding: 0px 60px;
        margin-bottom: 20px;
          
      }
      .intro-small{
          display: flex;
          flex-direction: column;
  
    
      }
  
      .intro-time {
        font-size: .8rem;
        margin-left: 50px;
        margin-bottom: 10px;
        
      }
      .intro-status {
        font-size: .8rem;
      }
    
      .intro-scroll {
        margin-top: 40px;
        height: 15px;
        width: 15px;
      }
  
      .planet1 {
          top: 30%; /* Adjust as needed */
          left: 4%; /* Adjust as needed */
          width: 300px; /* Adjust size as needed */
          height: 300px; /* Adjust size as needed */
        }
  
        @keyframes orbitPlanet1 {
          0% {
            transform: rotate(0deg) translateX(100px) rotate(0deg); /* Adjust as needed */
          }
          100% {
            transform: rotate(360deg) translateX(100px) rotate(-360deg); /* Adjust as needed */
          }
        }
      
        @keyframes orbitPlanet2 {
          0% {
            transform: rotate(0deg) translateX(100px) rotate(0deg); /* Adjust as needed */
          }
          100% {
            transform: rotate(360deg) translateX(100px) rotate(-360deg); /* Adjust as needed */
          }
        }
      
        .planet2 {
          top: 20%; /* Adjust as needed */
          left: 40%; /* Adjust as needed */
          width: 200px; /* Adjust size as needed */
          height: 200px; /* Adjust size as needed */
        }  
      /* Add other rules as needed... */
}


