#Projects{
    overflow: hidden;
    height: 850px;
    width: 1200px;
    max-width: 70%;
    padding: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    position: relative;
    border-radius: 30px;
    background: rgba(255, 255, 227, 0.20);
    box-shadow: 2px 15px 33px 0px rgba(0, 0, 0, 0.10), 8px 59px 60px 0px rgba(0, 0, 0, 0.09), 18px 133px 81px 0px rgba(0, 0, 0, 0.05), 32px 237px 95px 0px rgba(0, 0, 0, 0.01), 49px 370px 104px 0px rgba(0, 0, 0, 0.00);
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.50);
    margin-bottom: 0px;
    font-family: Satoshi;
    margin-bottom: 0px;

}

.Projects-heading{

    
    font-size: 3rem;
    font-weight: bold;
    color: #000000; 
    margin-bottom: 0px;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-bottom: 60px;
    
    

   
}

.Projects-container {


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Changed from 'center' to 'flex-start' */
    gap: 10px; /* Adjust the gap as needed */
    height: 1050px;
    width: 1000px;

    overflow-y: auto; /* Enable vertical scrolling */
    margin-top: 90px;
    margin-bottom: 0px;
    border-radius: 30px;
   
}

.project {
    
    height: 200px; /* Adjust this value as needed */
    width: calc(100% - 10px); /* Adjust width to account for padding */ /* Adjust the width as needed */
    border-radius: 30px; /* Rounded corners */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 20px 30px;
    background-color: rgba(255, 255, 227, 0.60);
    filter: drop-shadow(1px 10px 22px rgba(0, 0, 0, 0.10));
    margin-bottom: 10px;

    

}


.project-details {
    display: flex;
    flex-direction: column; /* Display children vertically */
    width: 300px; /* Adjust this value as needed */
    
    /* ...other styles... */
}

.Project-title {
    font-size: 20px; /* Large text for the title */
    font-weight: bold; /* Bold font for the title */
    color: #000000; /* Title text color */
    margin-bottom: 2px; /* Space below the title */
    text-align: left;
    margin-top: 10px;
}

.Project-description {

    font-size: 16px; /* Normal text size for the description */
    color: #000000;
    margin-bottom: 16px; /* Space below the description */
    text-align: left;  
    width: 300px;
    margin-bottom: 10px;
}

.Project-img {
    display: flex;
    flex-direction: column;
    width: 155px;
    height: 155px;
    margin-right: 20px;
    margin-bottom: 8px; /* Space below the image */
    border-radius: 30px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.10), 0px 7px 7px 0px rgba(0, 0, 0, 0.09), 0px 15px 9px 0px rgba(0, 0, 0, 0.05), 0px 27px 11px 0px rgba(0, 0, 0, 0.01);
}

.project-lang{
    min-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 50px;
    margin-left: 40px;

}

.project-logo-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.project-logo{

    width: 33.99px;
    height: 33.95px;
    align-self: center;

}

.planet-projects-1 {
    position: absolute;
    top: 205%; /* Adjust as needed */
    left: 45%; /* Adjust as needed */
    z-index: -1;
    border-radius: 435.673px;
    background: linear-gradient(250deg, #F90716 0%, rgba(245, 138, 37, 0.00) 100%, #FF5403 100%);
    filter: blur(60px);
    width: 600px; /* Adjust size as needed */
    height: 600px; /* Adjust size as needed */
    padding: 20px 30px;
}

.planet-projects-2 {
    position: absolute;
    top: 230%; /* Adjust as needed */
    left: 10%; /* Adjust as needed */
    z-index: -2;
    border-radius: 595.42px;
    background: linear-gradient(90deg, #FFCA03 0%, rgba(245, 138, 37, 0.00) 100%);
    filter: blur(60px);
    width:700px; /* Adjust size as needed */
    height: 700px; /* Adju */
}

@media (max-width: 1000px){

    #Projects{
        height: auto;
        width: 100vw;
        max-width: 100%; /* Adjust as needed */
        margin: 0 auto;
        position: relative;
        margin-bottom: 0px;
        margin-top: 0px;
        
        
        
      }

    .Projects-container {
        margin-top: 100px;
        flex-direction: column;
        flex-wrap: nowrap;
        overflow-y: auto;
        align-items: center;
        width: 500px;
        height: 600px; /* Adjust as needed */
        border-radius: 30px;
    }

    .Project-img{
       
        margin-right: 10px;
    }
    
    .Projects-heading{
        font-size: 2rem;
        margin-bottom: 0px;
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-bottom: 60px;
    }
    .project {
        height: auto; /* Adjust this value as needed */
        width: calc(100% - 0px); /* Adjust width to account for padding */ /* Adjust the width as needed */
        border-radius: 30px; /* Rounded corners */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
        background-color: rgba(255, 255, 227, 0.60);
        filter: drop-shadow(1px 10px 22px rgba(0, 0, 0, 0.10));
        margin-bottom: 10px;
    }
    .project-details {
        display: flex;
        flex-direction: column; /* Display children vertically */
        width: 300px; /* Adjust this value as needed */
        /* ...other styles... */
    }
    .Project-title {
        font-size: 20px; /* Large text for the title */
        font-weight: bold; /* Bold font for the title */
        color: #000000; /* Title text color */
        margin-bottom: 2px; /* Space below the title */
        text-align: center;
        margin-top: 10px;
    }

    .project-lang{

        margin-top: 10px;
    }

    .project-logo-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-right: 50px;
        
        gap: 10px;
    }
    
    .Project-description {
        font-size: 16px; /* Normal text size for the description */
        color: #000000;
        margin-bottom: 16px; /* Space below the description */
        text-align: center;  
        width: 300px;
        margin-bottom:
    }

    .planet-projects-1{
        display: none;
    }    
    .planet-projects-2{
        display: none;
    }

   
}