

@font-face {
    font-family: 'Satoshi';
    src: url('../assets/Fonts/OTF/Satoshi-Bold.otf');
    font-weight: bold;
    font-style: bold;
}

@font-face {
    font-family: 'Satoshi';
    src: url('../assets/Fonts/OTF/Satoshi-Light.otf');
    font-weight: normal;
    font-style: normal;
}

#intro  {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    position: relative;

}

@keyframes orbitPlanet1 {
    0% {
      transform: rotate(0deg) translateX(250px) rotate(0deg);
    }
    100% {
      transform: rotate(360deg) translateX(250px) rotate(-360deg);
    }
}
  
@keyframes orbitPlanet2 {
    0% {
      transform: rotate(0deg) translateX(350px) rotate(0deg);
    }
    100% {
      transform: rotate(360deg) translateX(350px) rotate(-360deg);
    }
}

.planet1 {
    position: absolute;
    top: 10%; /* Adjust as needed */
    left: 10%; /* Adjust as needed */
    z-index: -1;
    border-radius: 435.673px;
    background: linear-gradient(180deg, #F90716 0%, rgba(245, 138, 37, 0.00) 100%, #FF5403 100%);
    filter: blur(20px);
    width: 600px; /* Adjust size as needed */
    height: 600px; /* Adjust size as needed */
    padding: 20px 30px;
    animation: orbitPlanet1 20s linear infinite;
  
}

.planet2 {
    position: absolute;
    top: 2%; /* Adjust as needed */
    left: 20%; /* Adjust as needed */
    z-index: -2;
    border-radius: 595.42px;
    background: linear-gradient(180deg, #FFCA03 0%, rgba(255, 243, 35, 0.46) 100%);
    filter: blur(40px);
    width: 900px; /* Adjust size as needed */
    height: 900px; /* Adju */
    animation: orbitPlanet2 30s linear infinite;
   
}

.intro-title {
    font-size: 5vw;
    font-weight: bold;
    color: #000000; 
    z-index: 1;
}

.intro-content {
    font-family: satoshi;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.intro-subtext{
    font-size: 1rem;
    font-weight: normal;
    color: #000000; 
    margin-top: 10px;
    margin-bottom: 10px;

}

.intro-small{

    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 150px;
}

.intro-time {
    font-size: .8rem;
    font-weight: light;
    color: #000000; 
    margin-right: 50px; 
   
    
}

.intro-status{
    font-size: .8rem;
    font-weight: light;
    color: #000000; 
    
}

.intro-scroll{

    display: flex;
    align-items: center; 
    height: 20px;
    width: 20px;

}



@media (min-width: 660px) {
    .intro-title {
        font-size: 5rem; /* Set a fixed font size for screens wider than 600px */
    }
}   