#About{
    overflow: hidden;
    height: 850px;
    width: 1300px;
    max-width: 1350px;
    padding: 10px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    position: relative;
    border-radius: 30px;
    background: rgba(255, 255, 227, 0.30);
    box-shadow: 2px 15px 33px 0px rgba(0, 0, 0, 0.10), 8px 59px 60px 0px rgba(0, 0, 0, 0.09), 18px 133px 81px 0px rgba(0, 0, 0, 0.05), 32px 237px 95px 0px rgba(0, 0, 0, 0.01), 49px 370px 104px 0px rgba(0, 0, 0, 0.00);
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.50);


}

.div{
    margin-top: 0px;

}

.About-title{

    font-family: Satoshi;
    font-size: 3rem;
    font-weight: bold;
    color: #000000; 
    margin-right: 500px;
    margin-bottom: 0;
   
}



.About-details {
    display: flex;
    flex-direction: row-reverse;
    padding: 0px 20px;
    gap: .5rem; /* Adjust as needed */
}



.About-strong{
    font-family: Satoshi;
    font-size: 2rem;
    font-weight: bold;
    color: #000000; 
    margin-top: 0x;
    margin-left: 0px;
}

.About-discrip{
    z-index: 1;
    font-family: Satoshi;
    font-size: 19px;
    font-weight: light;
    text-align: left;
    color: #000000; 
    margin-top: 10px;
    margin-bottom: 100px;
    margin-left: 20px;
    width: 472px;
    height: 532px;
}

.About-img{
    width: 500px;
    height: 550px;
    margin-top: 20px;
    border-radius: 15px;
    object-fit: cover;
    flex-shrink: 1;
    
}


.planet-center-1 {
    position: absolute;
    top: 125%; /* Adjust as needed */
    left: 5%; /* Adjust as needed */
    z-index: -1;
    border-radius: 435.673px;
    background: linear-gradient(90deg, #F90716 0%, rgba(245, 138, 37, 0.00) 100%, #FF5403 100%);
    filter: blur(60px);
    width: 600px; /* Adjust size as needed */
    height: 600px; /* Adjust size as needed */
    padding: 20px 30px;
    
  
}

.planet-center-2 {
    position: absolute;
    top: 120%; /* Adjust as needed */
    left: 50%; /* Adjust as needed */
    z-index: -2;
    border-radius: 595.42px;
    background: linear-gradient(180deg, #FFCA03 0%, rgba(255, 243, 35, 0.46) 100%);
    filter: blur(60px);
    width:700px; /* Adjust size as needed */
    height: 700px; /* Adju */
   
}



@media (max-width: 1200px) {
    #About {
        height: auto;
        width: 100vw;
        max-width: 100%; /* Adjust as needed */
        margin: 0 auto;
        position: relative;
        margin-top: 10px;
        margin-bottom: 0px;

    }

    .div{
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .About-details {
        flex-direction: column;
        
        
    }
    .About-strong{
       
        font-size: 1.7rem;
    
    }
    .About-title{
        margin-top: 10px;
        margin-right: 0px;
    }

    .About-img {    
        order: 2;
        width: auto;
        height: 550px;
        margin-bottom: 20px;
        
    }
    .About-discrip{
        order: 4;
        margin-top: 10px;
        text-align: center;
        margin-right: 0px;
        margin-left: 0px;
        margin-bottom: 100px;
        
        
    }
}

@media(max-width: 550px){
    .About-img{
        width: 300px;
        height: 400px;
    }
    .About-discrip{
        width: 300px;
        height: auto;
        margin-bottom: 100px;
    }
    .About-title{
        font-size: 2.5rem;
    }
    .About-strong{
        font-size: 1.5rem;
    }
    .planet-center-1{
        display: none;
    }
    .planet-center-2{
        display: none;
    }

}