#Contact {
    
    overflow: hidden;
    width: auto;
    height: 500px;
    width: 650px;
    max-width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    position: relative;
    

    border-radius: 30px;
    background: rgba(239, 239, 212, 0.3);
    box-shadow: 2px 15px 33px 0px rgba(0, 0, 0, 0.10), 8px 59px 60px 0px rgba(0, 0, 0, 0.09), 18px 133px 81px 0px rgba(0, 0, 0, 0.05), 32px 237px 95px 0px rgba(0, 0, 0, 0.01), 49px 370px 104px 0px rgba(0, 0, 0, 0.00);
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.50);

    margin-bottom: 10px;
    font-family: Satoshi;
 
}

.contact-title{

    font-family: Satoshi;
    font-size: 2rem;
    font-weight: bold;
    color: #000000; 
    margin-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 10px;
    
}

.contact-container{

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: rgba(255, 255, 227, 0.30);
    padding: 20px 40px;
    border-radius: 30px;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, .2);
    margin-bottom: 20px;
}

input[type="text"], input[type="email"] {

    font-weight: bold;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    font-family: Satoshi;
    padding: 10px;
    border: 0px;
    border-radius: 20px;
    width: 300px; /* Minimum width */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}


textarea {

    font-weight: regular;
    margin-bottom: 10px;
    font-family: Satoshi;
    padding: 10px;
    border: 0px;
    border-radius: 20px;
    resize: both; /* Allow the user to resize the textarea */
    max-width: 100px; /* Maximum width */
    max-height: 200px; /* Maximum height */
    min-width: 300px; /* Minimum width */
    min-height: 100px; /* Minimum height */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}


input[type="submit"] {
    font-family: Satoshi;
    background: #000000;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    color: rgb(240, 240, 240);
    padding: 10px 120px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    width: 100%;
}

input[type="submit"]:hover {

    background: rgba(239, 239, 212, 0.3);
    color: #000000;
    
}

.social-container{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
    border-radius: 30px;
    padding: 10px 0px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);

}

.insta--Icon{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.git--Icon{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.link--Icon{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}



.contact-title-Iphone{
    display: none;
}

.planet-contact-1 {
    position: absolute;
    top: 350%; /* Adjust as needed */
    left: 30%; /* Adjust as needed */
    z-index: -1;
    border-radius: 800px;
    background: linear-gradient(250deg, #F90716 0%, rgba(245, 138, 37, 0.00) 100%, #FF5403 100%);
    filter: blur(60px);
    width: 600px; /* Adjust size as needed */
    height: 600px; /* Adjust size as needed */
    
}

.planet-contact-2 {
    position: absolute;
    top: 350%; /* Adjust as needed */
    left: 25%; /* Adjust as needed */
    z-index: -2;
    border-radius: 595.42px;
    background: linear-gradient(90deg, #FFCA03 0%, rgba(245, 138, 37, 0.00) 100%);
    filter: blur(60px);
    width: 700px; /* Adjust size as needed */
    height: 700px; /* Adjust size as needed */
}

@media (max-width: 1000px){
    
        #Contact{
            height: auto;
            width: 100vh;
            max-width: 100%; /* Adjust as needed */
            margin: 0 auto;
            position: relative;
            margin-top: 0px;
            background: none;
            box-shadow: none;
            border-radius: 20px;
            padding: 0px ;
            margin-bottom: 50px;
        }

        .contact-container{
            padding: 30px 30px;
            margin-bottom: 90px;
            margin-top: 90px;
            box-shadow: 0 20px 30px rgba(0, 0, 0, 0.50);
        }
    
        .contact-title{
            display: none;
        }

        .contact-title-Iphone{
            display: flex;
            font-family: Satoshi;
            font-size: 2rem;
            font-weight: bold;
            color: #000000; 
            margin-bottom: 0px;
            margin-top: 0px;
            margin-bottom: 10px;
            margin-left: 60px;
            
        }   

        textarea{

            max-width: 200px;
            max-height: 300px;

            
        }

        textarea{
            
            max-width: 100px;
            max-height: 100px;
    }
        
        
}

@media (max-width: 480px){
    
    #Contact{
        height: auto;
        width: 100vh;
        max-width: 100%; /* Adjust as needed */
        margin: 0 auto;
        position: relative;
        margin-top: 0px;
        background: none;
        box-shadow: none;
        border-radius: 20px;
        padding: 0px ;
        margin-bottom: 50px;

    }



    textarea{
            
            max-width: 100px;
            max-height: 100px;
    }

}